// Responsive utilities

//
// More easily include all the states for responsive-utilities.less.
@include responsive-visibility() {
  display: block !important;
  table&  { display: table; }
  tr&     { display: table-row !important; }
  th&,
  td&     { display: table-cell !important; }
}

@include responsive-invisibility() {
  display: none !important;
}
